@import 'src/common/variables.scss';
@import 'src/common/fonts.scss';
@import 'src/components/CalendarCard/CalendarCard.scss';

.monthRowWrapper {
  @extend .font-primary;

  display: flex;

  background: #fcfcfc;

  height: $monthRow-height;
  padding-left: $time-column-width - 12px + $time-column-offset;

  margin-top: $monthRow-margin-top;
  margin-bottom: $monthRow-margin-bottom;

  justify-content: flex-start;
  align-items: center;

  .monthName {
    @extend .font-header-semibold;

    text-align: center;
  }

  .arrowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $monthRow-height;

    svg {
      border-radius: 50%;
      transition: background 0.2s;
    }

    svg:hover {
      background: lightgray;
    }
  }
}
