@import 'src/common/variables.scss';

$time-column-width: 50px;
$calendar-cell-height: 60px;

.calendarCard {
  .borders {
    border: solid lightgrey 1px;
  }

  --rows-count: 5;

  display: grid;
  width: auto !important;
  padding: 0;

  grid-template-areas: 'timeColumn daysContainer';
  grid-template-columns: $time-column-width auto;
  grid-template-rows: auto;

  .item {
    @extend .borders;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .timeColumn {
    // @extend .borders;
    // border-right: none;

    display: grid;
    grid-area: timeColumn;

    grid-template-rows: repeat(
      calc(var(--rows-count) + 1),
      $calendar-cell-height
    );
  }

  .daysContainer {
    position: relative;

    grid-area: daysContainer;
    overflow: hidden;

    height: 100%;
    width: auto;
    white-space: nowrap;

    .dayWrapper {
      display: inline-block;
      height: 100%;
      width: 100%;

      outline: solid rgb(129, 129, 129) 1px;

      .day {
        --columns-count: 6;

        display: grid;
        height: 100%;
        width: 100%;

        grid-template-rows: $calendar-cell-height auto;

        .positionRow {
          @extend .borders;

          display: grid;
          grid-template-rows: $calendar-cell-height;
          grid-template-columns: repeat(var(--columns-count), 1fr);
        }

        .grid {
          display: grid;

          grid-template-columns: repeat(var(--columns-count), 1fr);
          grid-template-rows: repeat(var(--rows-count), $calendar-cell-height);

          .item {
            position: relative;
          }
        }
      }
    }
  }
}
