@import 'src/common/variables.scss';
@import 'src/common/fonts.scss';
@import 'src/components/CalendarCard/Day/DateRow/DateRow.scss';

$avatar-size: 40px;
// $calendar-cell-height: 100px * $scale;
// $calendar-cell-width-min: 250px * $scale;
$calendar-cell-height: 70px * $scale;
$calendar-cell-width-min: 395px * $scale;
$top-row-height: $calendar-cell-height + $dateRow-height + $monthRow-height +
  $monthRow-margin-top + $monthRow-margin-bottom + $dateRow-padding * 2 +
  $thin-width;

:export {
  #{'calendarCellWidthMin'}: $calendar-cell-width-min;
  #{'calendarCellHeight'}: $calendar-cell-height;
  #{'timeColumnWidth'}: $time-column-width;
}

.calendarCard {
  .borders {
    border: solid lightgrey 1px;
  }

  --rows-count: 5;
  --sub-columns-count: 5;
  --mainGridColumnWidth: 100px;

  display: block;
  width: auto !important;
  padding: 0;

  position: relative;

  background: #fcfcfc;

  .item {
    // @extend .borders;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #fcfcfc;

    // &.first {
    //   border-left: none;
    // }

    &.last {
      border-right-style: dashed;
      border-right-width: $thin-width;
    }
  }

  .rightColumn {
    position: absolute;
    top: ($top-row-height - $calendar-cell-height);
    right: 0;
    height: calc(100% - #{$top-row-height - $calendar-cell-height});

    z-index: 1001;
    width: $time-column-width;

    background: #fcfcfc;
  }

  .leftColumn {
    position: absolute;
    top: 0;

    z-index: 1001;

    display: grid;
    grid-area: leftColumn;

    width: $time-column-width;
    pointer-events: none;

    grid-template-rows: ($top-row-height - $calendar-cell-height) repeat(
        calc(var(--rows-count) + 1),
        $calendar-cell-height
      );

    :first-child {
      visibility: hidden;
    }

    .item {
      border-top: none;
      border-bottom: none;
    }
  }

  .calendarContainer {
    position: relative;

    display: grid;
    grid-template-rows: $top-row-height auto;
    grid-template-columns: 100%;

    grid-area: calendarContainer;
    overflow: hidden;

    height: 100%;
    width: auto;
    white-space: nowrap;

    will-change: scroll-position;

    &.loading > .mainContainer > .daysContainer {
      visibility: hidden;
    }

    &.loading > .mainContainer > .gridsContainer {
      visibility: hidden;
    }

    &.loading > .mainContainer > .topRowsContainer {
      visibility: hidden;
    }

    .topRowsContainer {
      width: 100%;
      overflow: hidden;

      .viewPortContainer {
        width: 100%;
        overflow: hidden;

        // border-bottom: solid lightgray 1px;

        .scrollingContainer {
          width: 100%;
          overflow: hidden;

          margin-left: $time-column-width; // - $thin-width / 2;

          .stickyContainer {
            display: grid;
            grid-auto-flow: column;

            .topRow {
              display: flex;
              z-index: 101;

              height: $calendar-cell-height;

              overflow: hidden;

              will-change: left, width;

              // display: flex;

              // height: $calendar-cell-height;

              .item {
                flex: 1 1;

                border-left: none;
                border-right: none;

                justify-content: left;

                .time {
                  margin-left: $time-column-offset;

                  .hours {
                    @extend .font-time;
                  }

                  .minutes {
                    @extend .font-time-secondary;
                    vertical-align: top;
                  }
                }
              }

              // .item {
              //   flex-grow: 1;
              //   flex-basis: 0;

              //   // &.first {
              //   //   border-left: none;
              //   // }
              // }
            }
          }
        }
      }
    }

    .mainContainer {
      position: relative;

      margin-bottom: $thin-width * -5;
      margin-left: $time-column-width;
      margin-right: $time-column-width;

      border-right: solid lightgray 1px;
      border-left: solid lightgray 1px;

      .daysContainer {
        overflow: hidden;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        .dayWrapper {
          --columns-count: 6;

          display: inline-block;
          height: 100%;
          width: 100%;

          // outline: solid black 1px;

          &.hidden > .day {
            display: none;
          }

          &.dragOrigin > .day {
            display: grid;
          }

          .day {
            position: relative;

            display: grid;
            height: 100%;
            width: 100%;

            grid-template-rows: auto;

            .grid {
              display: grid;

              grid-template-columns: repeat(var(--columns-count), 1fr);
              grid-template-rows: repeat(
                var(--rows-count),
                $calendar-cell-height
              );

              .item {
                position: relative;
                transition: background 0.5s ease-in-out;

                .subGrid {
                  position: absolute;

                  display: grid;
                  grid-auto-columns: 1fr;
                  grid-template-rows: 1fr;
                  grid-auto-flow: column;

                  left: 0;
                  top: 0;
                  right: 0;
                  bottom: 0;

                  opacity: 1;
                  // opacity: 0;
                  transition: opacity 0.5s;

                  .subGridElem {
                    // border: dotted lightgrey 1px;

                    &.enter {
                      background: rgb(255, 249, 216);
                    }

                    &:first-child {
                      border-left: none;
                    }

                    &:last-child {
                      border-right: none;
                    }
                  }
                }

                &.enter {
                  background: rgb(255, 252, 236);
                  &.locked {
                    background: inherit;
                  }
                }
              }
            }
          }
        }
      }

      .gridsContainer {
        width: 100%;
        overflow: hidden;
        padding-bottom: 1px;
      }
    }
  }
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 0.25s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}
