@import 'src/common/variables.scss';
@import 'src/common/decorations.scss';
@import 'src/common/fonts.scss';

.card {
  @extend .light-box-shadow;

  padding: $padding-large;
  background: white;
  width: max-content;

  .head {
    @extend .font-middle-semibold;

    margin-bottom: $padding-large;
  }
}
