@import "src/common/variables.scss";
@import "src/common/fonts.scss";

.bioCard {
  $columns-gap: 45px;
  $rows-gap: 5px;
  $menu-button-size: 13px;
  $avatar-size: 90px;

  max-width: max-content;
  min-width: min-content;
  width: initial;

  padding-bottom: $padding-large * 3;

  .container {
    display: flex;
    justify-content: space-between;

    .leftBlock {
      margin-right: $padding-large;

      .information {
        display: grid;

        // width: 50%;

        grid-template-columns: min-content auto;
        grid-column-gap: $columns-gap;
        grid-row-gap: $rows-gap;

        .prop {
          @extend .font-primary-semibold;

          white-space: nowrap;
        }
      }

      .head {
        display: flex;
        align-items: flex-start;

        .info {
          display: inline-block;
        }
      }

      .info {
        &.birthday .date {
          @extend .font-secondary-middle;
        }

        .linked {
          color: #1200ff;
          text-decoration: none;
        }

        .error {
          @extend .font-error-middle;
          margin: 0;
        }

        input {
          border: none;
          outline: none;
          border-bottom: solid transparent 1px;
          background-color: transparent !important;
          font: inherit;

          &:focus,
          &:placeholder-shown {
            border-bottom-color: lightgray;
          }
          &.inputError {
            border-bottom-color: darkred;
          }
        }
      }
    }

    .rightBlock {
      display: flex;
      align-self: flex-start;

      .menuButton {
        display: inline-block;

        width: $menu-button-size;
        height: $menu-button-size;

        background: lightgrey;
      }

      .avatar {
        display: inline-block;
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;

        background: lightgrey;
      }
    }
  }
}
