@import "src/common/variables.scss";
@import "src/common/fonts.scss";

.bioCard {
  $columns-gap: 45px;
  $rows-gap: 10px;
  $menu-button-size: 13px;
  $avatar-size: 90px;

  max-width: max-content;
  min-width: min-content;
  width: initial;

  padding-bottom: $padding-large * 3;

  .container {
    display: flex;
    justify-content: space-between;

    .leftBlock {
      margin-right: $padding-large;

      .information {
        display: grid;

        // width: 50%;

        grid-template-columns: min-content auto;
        grid-column-gap: $columns-gap;
        grid-row-gap: $rows-gap;

        .prop {
          @extend .font-primary-semibold;

          white-space: nowrap;
        }

        .info {
          &.birthdate .date {
            @extend .font-secondary-middle;
          }

          a {
            color: #1200ff;
            text-decoration: none;
          }

          a:visited {
            color: #1200ff;
            text-decoration: none;
          }
        }
      }
    }

    .rightBlock {
      display: flex;
      align-self: flex-start;

      .menuButton {
        display: inline-block;

        width: $menu-button-size;
        height: $menu-button-size;

        background: lightgrey;
      }

      .avatar {
        display: inline-block;
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;

        background: lightgrey;
      }
    }
  }
}
