@import 'src/common/variables.scss';
@import 'src/common/colors.scss';
@import 'src/common/fonts.scss';

$dateRow-padding: $thin-width;
$dateRow-height: 60px;
$index-circle-size: 23px;
$day-width: 30px;
$day-space-between-min: 10px;

:export {
  dayWidth: $day-width;
  daySpaceBetweenMin: $day-space-between-min;
}

.dateRowWrapper {
  --day-space-between: #{$day-space-between-min};

  display: flex;

  // border: solid lightgrey 1px;
  // border-bottom: none;

  margin-left: $time-column-width;
  margin-right: $time-column-width;

  background: $color-calendar-background;

  .arrowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $dateRow-height;

    svg {
      border-radius: 50%;
      transition: background 0.2s;
    }

    svg:hover {
      background: lightgray;
    }
  }

  .dateRow {
    // display: grid;
    // grid-auto-flow: column;
    // grid-auto-columns: 1fr;

    // display: flex;
    // justify-content: space-between;

    width: 100%;
    height: $dateRow-height;
    padding: $dateRow-padding;

    .day {
      display: inline-flex;
      justify-content: center;
      width: $day-width;
      margin-right: var(--day-space-between);

      &.chosen > .main > .index {
        color: white;
        background: rgb(71, 58, 255);
      }

      &:not(.chosen):hover > .main > .index {
        color: white;
        background: rgb(132, 123, 255);

        cursor: default;
      }

      .main {
        display: inline-flex;
        flex-flow: column;
        align-items: center;

        justify-content: space-between;

        height: 100%;

        cursor: default;

        .weekdayVisits {
          @extend .font-time-secondary;
          vertical-align: top;
          margin-top: 5px;
        }

        .index {
          display: flex;
          align-items: center;
          justify-content: center;

          height: $index-circle-size;
          width: $index-circle-size;

          padding-top: 1px;

          border-radius: 50%;

          transition-duration: 0.2s;
          transition-property: color background;
        }
      }
    }
  }
}
