@import 'src/common/variables.scss';

.controlWindow {
  position: absolute;
  z-index: 1000;

  right: 0;
  top: 0;

  width: min-content;
  height: min-content;
  padding: $padding-large;

  background: rgba(245, 245, 245, 0.652);
  border: solid rgb(153, 153, 153) 1px;
}
