@import 'src/common/variables.scss';
@import 'src/common/fonts.scss';
@import 'src/common/colors.scss';
@import 'src/common/decorations.scss';
@import '../../CalendarCard.scss';

.appointmentCell {
  $marker-width: 3px;
  $avatar-left-margin: 8px;
  $points-right-margin: 10px;
  $points-size: 25px;
  $visits-count-margin: 2px;

  position: absolute;
  left: 0px;
  top: 0px;

  height: 100%;
  width: 100%;

  touch-action: none;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  // transition: all 2s;
  z-index: 100;

  &.overlapping > .container > .containerTempWidth {
    background: rgb(255, 224, 224);
  }

  &.moving {
    visibility: visible;
    display: inline;

    transition: none;

    position: fixed;
    z-index: 102;
  }

  &.hidden {
    visibility: hidden;
  }

  .container {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    .containerTempWidth {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      background: white;
      outline: solid lightgrey 1px;

      pointer-events: visible;

      .translated & & {
        outline: dotted lightgrey 2px;
        outline-offset: -2px;
      }

      .moving & & {
        @extend .light-box-shadow;
        background: rgba(255, 255, 255, 0.397);
      }

      .layoutController {
        &.widthMin {
          > .pointsWrapper {
            display: none;
          }

          > .mainInfoWrapper {
            display: none;
          }
        }

        &.widthSlim {
          > .pointsWrapper {
            display: none;
          }

          > .mainInfoWrapper .subWrapper .content .surname {
            display: none;
          }

          > .mainInfoWrapper .subWrapper .content .number {
            display: none;
          }
        }

        &.widthMedium {
          > .pointsWrapper {
            display: none;
          }

          > .mainInfoWrapper .subWrapper .content .number {
            display: none;
          }
        }

        &.widthWide {
          > .pointsWrapper {
            display: none;
          }
        }

        .marker {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: $marker-width;

          background: green;

          &.loading {
            background: lightgrey;
          }
        }

        $avatar-width: $calendar-cell-height - $avatar-left-margin * 2 -
          $thin-width;
        .avatar {
          position: absolute;

          left: $avatar-left-margin;
          top: $avatar-left-margin;
          bottom: $avatar-left-margin;

          width: $avatar-width;
          border-radius: 50%;

          background: lightgrey;

          &.loading {
            background: lightgrey;
          }
        }

        .mainInfoWrapper {
          position: absolute;
          left: $avatar-width + $avatar-left-margin * 2;
          top: 0;
          bottom: 0;
          right: $points-right-margin + $points-size + $avatar-left-margin;

          display: flex;
          justify-content: left;
          align-items: center;

          .subWrapper {
            width: 100%;
          }

          .content {
            overflow-wrap: break-word;
            white-space: normal;

            span {
              white-space: nowrap;
            }

            .surname,
            .name,
            .patronymic,
            .grade {
              @extend .font-primary-semibold;
            }

            .additionalInfo {
              .grade {
                color: green;
              }

              .visits {
                @extend .font-secondary-little-semibold;
                margin-left: $visits-count-margin;
                margin-right: $visits-count-margin;
                padding: 0;
                color: black;
                vertical-align: top;
              }
            }

            .number {
              @extend .font-secondary-middle;
            }

            &.loading {
              background: lightgrey;
              height: 15px;
              width: auto;

              margin: 2.5px;
            }
          }
        }

        .pointsWrapper {
          position: absolute;
          right: $points-right-margin;
          top: 0;
          bottom: 0;

          width: $points-size;

          display: flex;
          justify-content: center;
          align-items: center;

          .content {
            @extend .font-points-circle;

            background: $color-calendar-points-background;

            width: $points-size;
            height: $points-size;

            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            &.loading {
              background: lightgrey;
            }
          }
        }
      }
    }
  }
}
