@import "./common/variables.scss";
@import "./common/fonts.scss";
@import "./common/colors.scss";

body {
  @extend .font-primary;

  margin: 0;
  padding: $padding-normal;

  background: $color-body-background;
}

.hidden {
  visibility: hidden;
}
