$color-primary: #e0e0e0;
$color-primary-light: #ffffff;
$color-primary-dark: #aeaeae;
$color-primary-text: #000000;
$color-primary-border: #000000;

$color-secondary: #90a4ae;
$color-secondary-light: #c1d5e0;
$color-secondary-dark: #62757f;
$color-secondary-text: #6b6b6b;
$color-secondary-border: #9e9e9e;

$color-dragging-origin-cell-border: #838383;

$color-hover: #fcffdf;
$color-select-background: #fafafa;
$color-select-tap-background: #e4e3e3;
$color-select-border: #0600ff;

$color-body-background: #faf9f7;

$color-calendar-background: #ffffff;
$color-calendar-cell-background: #ffffff;
$color-calendar-cell-hover: #fcffdf;
$color-calendar-points-background: #eeeeee;
$color-calendar-cell-ready-to-get-drop: #fafafa;
$color-calendar-cell-ready-to-be-dropped: #fafafa;

$color-button-background: #f6f5f3;
$color-button-active-background: #ebeae8;

$color-mark-1: #78909c;
$color-mark-2: #ab47bc;
$color-mark-3: #ffa726;
$color-mark-4: #26c6da;
$color-mark-5: #c5e1a5;

$color-mark-default: $color-mark-5;

// new one

$color-time: #151515;
$color-time-secondary: #8e8e8e;
