$padding-normal: 16px;
$padding-large: 25px;

$thin-width: 1px;
$medium-width: 4px;
$big-width: 8px;
$large-width: 10px;

$monthRow-height: 30px;
$monthRow-margin-top: 30px;
$monthRow-margin-bottom: 20px;

$scale: 0.7;
$time-column-width: 50px * $scale;
$time-column-offset: 30px;

$header-text-font-size: 25px;

:export {
  largeWidth: $large-width;
  mediumWidth: $medium-width;
  paddingLarge: $padding-large;
  paddingNormal: $padding-normal;
  thinWidth: $thin-width;
  headerTextFontSize: $header-text-font-size;
}
